# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode - User-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

# Xcode - Build / DerivedData
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
